@use "globals";
@import "resets";

body {
  background: globals.$backgroundColor;
  color: globals.$fontColor;
  font: {
    family: globals.$font;
    size: globals.$fontSize;
  }
}

p {
  color: globals.$fontColorP;
  line-height: globals.$lineHeight;
}

//buttons
%btn-basics {
  border: none;
  border-radius: 25px;
  color: white;
  line-height: 28px;
  font-weight: 700;
  padding: 9px 24px 11px;
}

.btn-top {
  @extend %btn-basics;
  background: globals.$colorBtnTop;
  &:hover {
    background: globals.$colorBtnTopHover;
  }
}

.btn-middle {
  @extend %btn-basics;
  background: globals.$colorBtnMiddle;
  border-radius: 30px;
  padding: 15px 37px 15px 38px;
  &:hover {
    background: globals.$colorBtnMiddleHover;
  }
}

.btn-bottom {
  @extend %btn-basics;
  background: globals.$colorBtnBottom;
  &:hover {
    background: globals.$colorBtnBottomHover;
  }
}

// clip section
.clip-image {
  overflow: clip;
}

// flex-container
%flex-container {
  display: flex;
  flex-wrap: wrap;
}

// header
.flex-container-1 {
  @extend %flex-container;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 38px;
}

.logo {
  max-width: 89px;
}

// flex-container-2
.flex-container-2 {
  @extend %flex-container;
}

span.keeptogether {
  white-space: nowrap;
}

.flex-item {
  flex: 100%;
}

.flex2-item1 {
  @extend .flex-item;
  h1 {
    font: {
      size: 40px;
      weight: 800;
    }
    line-height: 50.4px;
    margin-bottom: 26px;
  }

  p {
    margin-bottom: 24px;
  }
}

.flex2-item2 {
  @extend .flex-item;
  position: relative;
  height: 301px;
}

.main-image-tablet,
.main-image-desktop {
  display: none;
  z-index: -1;
}

.main-image-mobile {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

// flex-container-3
.flex-container-3 {
  @extend %flex-container;
  margin-top: 109px; //estimated
  justify-content: space-between;
}

.flex3-item1 {
  @extend .flex3-item;
  background: globals.$colorBtnMiddle;
  color: white;
  padding: 24px 32px 32px;
}

.flex3-item {
  @extend .flex-item;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 56px 22px 32px 32px;
  position: relative;
  border: none;
}

.card-body {
  margin: 0;
  padding: 0;
  h2 {
    font: {
      size: 24px;
      weight: 800;
    }
    line-height: 32px;
  }
  h3 {
    font: {
      size: 20px;
      weight: 800;
    }
    line-height: 25.2px;
    margin-bottom: 16px;
  }
}

.card-footer {
  margin-top: 24px;
  padding: 0;
  border: none;
  background-color: inherit;
}

a {
  color: globals.$fontColorA;
  text-decoration: none;
  font: {
    size: 18px;
    weight: 700;
  }
  line-height: 28px;
}

a:hover {
  color: globals.$fontColorAHover;
}

.icons {
  position: absolute;
  left: 28px;
  top: -24px;
}

// footer
footer {
  background-color: globals.$colorBtnTop;
}

.flex-container-4 {
  @extend %flex-container;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-top: 40px; // +40 (card) = 80
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // flex-container-1
  .flex-container-1 {
    margin-bottom: 99px;
  }

  // flex-container-2
  .flex2-item1 {
    flex: 58%;
  }

  .flex2-item2 {
    flex: 42%;
  }

  .main-image-mobile {
    display: none;
  }

  .main-image-tablet {
    display: initial;
    position: absolute;
    top: -88%;
    left: -25%;
  }

  // flex-container-3
  .flex-container-3 {
    margin-top: 194px;
  }

  .flex3-item,
  .flex3-item1 {
    flex: 50%;
    max-width: 339px;
    padding: 56px 22px 32px 32px;
    margin-bottom: 56px;
  }

  // footer
  .flex-container-4 {
    margin-top: 30px; // +56 (card) = 86
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font: {
      size: globals.$fontSizeDesktop;
    }
  }

  p {
    line-height: globals.$lineHeightDesktop;
  }

  //buttons
  .btn-basics {
    border-radius: 30px;
    padding: 14px 31px 14px 32px;
  }

  .btn-middle {
    padding: 19px 31px 16px 32px;
  }

  //header
  .flex-container-1 {
    margin-bottom: 172px;
  }

  .logo {
    max-width: 114px;
  }

  //flex-container-2
  .flex2-item1 {
    flex: 42%;
    h1 {
      font: {
        size: 56px;
        weight: 800;
      }
      line-height: 70px;
      margin-bottom: 29px;
    }

    p {
      margin-bottom: 40px;
    }
  }

  .flex2-item2 {
    flex: 58%;
  }

  .main-image-tablet {
    display: none;
  }

  .main-image-desktop {
    display: initial;
    position: absolute;
    top: -133%;
  }

  //flex-container-3
  .flex-container-3 {
    margin-top: 250px;
  }

  .flex3-item,
  .flex3-item1 {
    flex: 33.33%;
    max-width: 300px;
    margin-bottom: 80px;
    padding: 64px 32px 40px;
  }

  .card-body {
    h2 {
      font: {
        size: 32px;
        weight: 800;
      }
      line-height: 40px;
    }

    h3 {
      font: {
        size: 24px;
        weight: 800;
      }
      line-height: 30px;
      margin-bottom: 24px;
    }
  }

  .card-footer {
    margin-top: 24px;
  }

  // footer
  .flex-container-4 {
    margin-top: 60px; // +80 (card) = 140
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  //flex-container-2
  .main-image-desktop {
    left: 15%;
  }

  //flex-container-3
  .flex3-item,
  .flex3-item1 {
    max-width: 350px;
    margin-bottom: 80px;
  }
}
