* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

body {
  background: linear-gradient(180deg, #ffffff, #f0f1ff);
  color: hsl(234deg, 53%, 16%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
}

p {
  color: hsl(233deg, 10%, 56%);
  line-height: 26px;
}

.btn-bottom, .btn-middle, .btn-top {
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  padding: 9px 24px 11px;
}

.btn-top {
  background: hsl(234deg, 53%, 16%);
}
.btn-top:hover {
  background: hsl(234deg, 25%, 52%);
}

.btn-middle {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 30px;
  padding: 15px 37px 15px 38px;
}
.btn-middle:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.btn-bottom {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
}
.btn-bottom:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
}

.clip-image {
  overflow: clip;
}

.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 38px;
  padding-top: 16px;
  padding-bottom: 0;
}

.logo {
  max-width: 89px;
}

.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

span.keeptogether {
  white-space: nowrap;
}

.flex3-item, .flex3-item1, .flex2-item2, .flex2-item1 {
  flex: 100%;
}

.flex2-item1 h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 50.4px;
  margin-bottom: 26px;
}
.flex2-item1 p {
  margin-bottom: 24px;
}

.flex2-item2 {
  position: relative;
  height: 301px;
}

.main-image-tablet,
.main-image-desktop {
  display: none;
  z-index: -1;
}

.main-image-mobile {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.flex-container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 109px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.flex3-item, .flex3-item1 {
  background-color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 56px 22px 32px 32px;
  position: relative;
}

.flex3-item1 {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  color: white;
  padding: 24px 29px 32px 28px;
}

.card-body {
  margin: 0;
  padding: 0;
}
.card-body h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 0;
}
.card-body h3 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 25.2px;
  margin-bottom: 16px;
}

.card-footer {
  background-color: inherit;
  border: none;
  margin-top: 24px;
  padding: 0;
}

a {
  color: hsl(341deg, 92%, 62%);
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}
a:hover {
  color: hsl(341deg, 100%, 83%);
}

.icons {
  position: absolute;
  left: 28px;
  top: -24px;
}

footer {
  background-color: hsl(234deg, 53%, 16%);
}

.flex-container-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .flex-container-1 {
    margin-bottom: 99px;
  }
  .flex2-item1 {
    flex: 58%;
  }
  .flex2-item2 {
    flex: 42%;
  }
  .main-image-mobile {
    display: none;
  }
  .main-image-tablet {
    display: initial;
    position: absolute;
    top: -88%;
    left: -25%;
  }
  .flex-container-3 {
    margin-top: 194px;
  }
  .flex3-item,
.flex3-item1 {
    flex: 50%;
    max-width: 339px;
    margin-bottom: 56px;
    padding: 56px 22px 32px 32px;
  }
  .flex-container-4 {
    margin-top: 30px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 1.125rem;
  }
  p {
    line-height: 28px;
  }
  .btn-top, .btn-middle, .btn-bottom {
    border-radius: 30px;
    padding: 14px 31px 14px 32px;
  }
  .btn-middle {
    padding: 19px 31px 16px 32px;
  }
  .flex-container-1 {
    margin-bottom: 172px;
  }
  .logo {
    max-width: 114px;
  }
  .flex2-item1 {
    flex: 42%;
  }
  .flex2-item1 h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 29px;
  }
  .flex2-item1 p {
    margin-bottom: 40px;
  }
  .flex2-item2 {
    flex: 58%;
  }
  .main-image-tablet {
    display: none;
  }
  .main-image-desktop {
    display: initial;
    position: absolute;
    top: -133%;
  }
  .flex-container-3 {
    margin-top: 250px;
  }
  .flex3-item,
.flex3-item1 {
    flex: 33.33%;
    max-width: 300px;
    margin-bottom: 80px;
    padding: 64px 32px 40px;
  }
  .card-body h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 0;
  }
  .card-body h3 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .card-footer {
    margin-top: 24px;
  }
  .flex-container-4 {
    margin-top: 60px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-image-desktop {
    left: 15%;
  }
  .flex3-item,
.flex3-item1 {
    max-width: 350px;
  }
}/*# sourceMappingURL=main.css.map */